/* component.css */

header{
    max-height:5rem;
    background-color: pink;
    box-sizing: border-box;
    width: 100%;
    transition: 1s ease-in-out;
}
.navbar {
    position: sticky; 
    max-height: 5rem;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  

  .nav-links {
    display: flex;
    gap: 1rem;
  }
  
  .navlink-button {
    font-style: unset;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold ;
  }
  .navlink-button:hover{
    color: #f1356d;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
  
  .hamburger div {
    width: 2rem;
    height: 0.25rem;
    background: currentColor;
    transition: transform 0.3s ease, opacity 0.3s ease; 
  }
  .hamburger.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 7px);
  }
  
  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open div:nth-child(3) {
    transform: rotate(45deg) translate(-9px, -7px);
  }

  /**HERO SECTION**/
  .hero {
    margin-bottom:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width:100%;

    
  }

    .my-carousel-image{
      width:100vw;
      height:auto;
      object-fit: cover;
      object-position: center 50%;
      
 }
    

  .carousel-text{
    color:white;
    z-index: 500000;
  }


  .illust-container{
    position:absolute;
    top:10%;
    height:90%;
    width:90%;
    z-index: 5;
  }
  #illust1{
    position:absolute; 
    top:90%; 
    left:10%;
    height:110px;
    width:auto
  }
  #illust2{
    position:absolute; 
    top:83%; 
    left:78%;
    height:160px;
    opacity:1;
    width:auto
  }
  #illust3{
    position:absolute; 
    top:14%; 
    left:91%;
    height:130px;
    width:auto
  }



  .carousel .slide {
    z-index: 0;
    height:100%;
    background: none;
    z-index: 0;
  }
  
  .carousel .legend {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 0;
    z-index: 0;
  }
  .carousel-text{
    color:white;
  }
  /** END OF HERO SECTION **/
  /**
  /** PARTNER LOGO **/
  
  .partner-logo{
    width:100%;
  }
  /**FOOTER **/

  footer{
    position:relative;
    bottom:0;
    width: 100vw;
    min-height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color:#65656f;
    margin:3rem 0;
  }

  .footer-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

  .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .footer-col.center{
    text-align: left;
  }
  .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    max-width: 100vw;
  }
  footer ul{all:unset;
    list-style: none;
  }
  .right a{
    margin:0 auto;
  }
  .footer-icon-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    max-width: 100vw;
    align-self: center;
    justify-content: center;
    margin: 0;
    align-content: center;
  }
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      background: white;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      flex-direction: column;
      gap: 1rem;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  
    .nav-links.show {
            top:100%;
            left:0px;
            display: flex;
            max-width:100vw;
            height:90vh;
            max-height: 100vh;
            background: pink;
            z-index: 1000;
            align-items: center;
            justify-content: center;
            transform: translateY(0);
        }
  
    .hamburger, .logo {
        display: flex;
      z-index: 1001;
    }


    /** HERO SECTION **/

    .image-container{
      height:90%;
      width:'auto'
    }
    .illust-container{
      position:absolute;
      top:00;
      left:0;
      height:75%;
      padding:0 3rem 0 3rem;
      box-sizing: border-box;
      width:90%;
      margin:auto;
      z-index: 5;
      gap:2rem;
      display: flex;;
      align-items: end;

    }
    #illust1{
      position:static;
      height:70px;
      opacity:1;
    }
    #illust2{
      position:static;
      height:70px;
      opacity:1;
    }
    #illust3{
      position:static;
      height:70px;
      opacity:1;
    }
    /**END OF HERO SECTION**/

    /**FOOTER SECTION**/
    .footer-row{
        flex-direction: column;
        gap: 1rem;
    }
    header{
        z-index: 2000;
    }
  }