.service-container-wrapper{
    justify-content: center;
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    padding:0;
}
.service-container{
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:max-content;
    box-sizing: border-box;
    padding: 3rem 0rem;
    position:relative;
}

.odd-service{
    display:flex;
    flex-direction:row;
    max-width:90%;
    width:90%;
    height:20rem;
    max-height:20rem;
    justify-content: center;
    align-items: center;
}
.even-service{
    display:flex;
    flex-direction:row;
    max-width:100%;
    width:90%;
    max-height:20rem;
    height:20rem;
    justify-content: center;
    align-items: center;
}
.service-image-container{
    position: relative;
    width:100%;
    max-width:50%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem 0rem 0rem;
    box-sizing: border-box;
    height:18rem;

}
.service-image{
    object-fit: cover;
    object-position: center;
    width:25rem;
    height:18rem;
    position:absolute;
    top:-10%;
    left:0;
}
.service-right{
    left:48% !important;
}
.service-image-darkbg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    position:absolute;
    width:25rem; 
    height:18rem;
    top:-10%;
    left:0;
    background-color:rgba(0,0,0,0.7);
    padding:0;
}


.service-text-content{
    width:50%;
    padding-left:8rem;
    text-align: justify;
}

.service-text-title{
    font-weight:800; 
    font-size: large;
    text-align:left;
    padding-left:8rem
}
.service-text-line{
    margin-top: 1rem;
    margin-left:8rem;
}
.service-text-right{
    margin-left:10rem !important;
}
.service-line-right{
    margin-left:18rem !important;
}
@media (max-width: 870px){
    .service-container{
        display:flex;
        max-width:90%;
        height:max-content;
        box-sizing: border-box;
        flex-direction: column;
        margin: 3rem auto;
        padding:0;
    }
    .service-line-right{
        margin-left:0 !important;
    }
    .service-text-right{
        margin-left:0 !important;
    }

    .service-image{
        width:100%;
        height:18rem;
        position: static;
    }
    .service-image-darkbg{
        top:2rem;
        width:100%;
        height:18rem
    }
    .service-right{
        left:0 !important;
    }
    .service-image-container{
        width:90vw;
        height:20rem;
        max-height:20rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .service-text-line{
        margin-top: 1rem;
        margin-left:0rem;
    }
    .odd-service{
        display:flex;
        flex-direction:column;
        max-width:100%;
        width:100%;
        padding: 2rem 2rem;
    }
    .even-service{
        display:flex;
        flex-direction:column;
        max-width:100%;
        width:100%;
        padding: 2rem 2rem;
    }
    .service-text-content{
        width:100%;
        padding-left:0;
    }
    .service-text-title{
        width:100%;
        padding-left:0
    }
}